body{
    background: white;
}
#services-img{
    border-radius: 50%;
}
#services-title-color{
    color:#adabab;
}
#services-text{
    font-family:sans-serif;
}
.services-container{
    border-top:1px solid rgba(128, 128, 128, 0.607);
    border-bottom: 1px solid rgba(128, 128, 128, 0.605);
}