<!-- your html code here -->
<div class="portfolio-container">
  <h3>Portfolio</h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum
    nobis ducimus at? Odio, eius explicabo asperiores illo quod quis nihil
    quaerat nemo fugiat similique sequi atque et totam ex?
  </p>
  <div class="row">
    <div class="col-4">
      <img
        src="./assets/img/big-project-image.png"
        alt="image missing"
        class="w-100"
      />
      <h4 class="text-primary mt-3">Project Name</h4>
      <p>
        <small
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          blanditiis ea hic rem? Iure iusto delectus quaerat dolore blanditiis
          nihil velit, obcaecati voluptatem! Consequatur ipsam nisi quo tempora
          fuga unde?</small
        >
      </p>
    </div>
    <div class="col-4">
      <img
        src="./assets/img/big-project-image.png"
        alt="image missing"
        class="w-100"
      />
      <h4 class="text-primary mt-3">Project Name</h4>
      <p>
        <small
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          blanditiis ea hic rem? Iure iusto delectus quaerat dolore blanditiis
          nihil velit, obcaecati voluptatem! Consequatur ipsam nisi quo tempora
          fuga unde?</small
        >
      </p>
    </div>
    <div class="col-4">
      <img
        src="./assets/img/big-project-image.png"
        alt="image missing"
        class="w-100"
      />
      <h4 class="text-primary mt-3">Project Name</h4>
      <p>
        <small
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          blanditiis ea hic rem? Iure iusto delectus quaerat dolore blanditiis
          nihil velit, obcaecati voluptatem! Consequatur ipsam nisi quo tempora
          fuga unde?</small
        >
      </p>
    </div>
  </div>
</div>
