<!-- your html code here -->
<div class="Services">
    <div class="services-container d-flex justify-content-center container pt-5 pb-5" style="height: 400px;">
        
        <img id="services-img" src="../website/assets/img/2.jpg" alt="services-img" />
        <div class="services-content">
        <h1>The Second Heading <span id="services-title-color">Is Pretty Cool Too.</span></h1>
        <p id="services-text">Donec ullamcorper nulla non metus auctir fringilla. Vestibulum id ligula porta felis<br/>
        euismod semper. Praesent commodo cursus magna, vek scelerisque nisl consectetur<br/>
    Fusce dapibus, tellus ac cursus commodo</p>
        </div>
        


    </div>
</div>